.home{
    width: 100%;
    /* height: 100vh; */
    position: relative;
    background: #5F6561;
    /* background: #FE6150; */
     /* overflow: scroll;  */
     padding-bottom: 110px;
}
.home h1{
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    height: auto;
    width: 276px;
    top: 50px;
    /* color: #F0ECB9; */
    color: white;
    font-family: 'Bowlby One SC', cursive;
    /* border: 2px solid lawngreen; */
}
#pop_up{
    height: 90px;
    width: 180px;
    background: black;
    color: white;
    opacity: 0.5;
    padding-top: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
@media(max-width: 600px){
    #pop_up{
        display: none;
    }
}

