.font{
    height: 125px;
    width: 80px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    left: 55px;
    padding-top: 10px;
    /* display: none;  */
}
.font #ubuntu{
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
    }
.font #amatic{
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
    }
.font #satisfy{
        font-family: 'Satisfy', cursive;
        font-size: 20px;
    }